@charset "UTF-8";
/**
@author: Danilo Ram├¡rez Mattey
 */
@font-face {
  font-family: 'zenicon';
  src: url("../font/zenicon.eot?pzkgu");
  src: url("../font/zenicon.eot?pzkgu#iefix") format("embedded-opentype"), url("../font/zenicon.ttf?pzkgu") format("truetype"), url("../font/zenicon.woff?pzkgu") format("woff"), url("../font/zenicon.svg?pzkgu#zenicon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="zi-"], [class*=" zi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zenicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.zi-buddha:before {
  content: ""; }

.zi-email:before {
  content: ""; }

.zi-email-multi:before {
  content: ""; }

.zi-email-multi-opened:before {
  content: ""; }

.zi-email-opened:before {
  content: ""; }

.zi-home:before {
  content: ""; }

.zi-pencil:before {
  content: ""; }

.zi-image:before {
  content: ""; }

.zi-images:before {
  content: ""; }

.zi-camera:before {
  content: ""; }

.zi-play:before {
  content: ""; }

.zi-connection:before {
  content: ""; }

.zi-podcast:before {
  content: ""; }

.zi-book:before {
  content: ""; }

.zi-file-text:before {
  content: ""; }

.zi-file-picture:before {
  content: ""; }

.zi-file-music:before {
  content: ""; }

.zi-file-play:before {
  content: ""; }

.zi-file-zip:before {
  content: ""; }

.zi-copy:before {
  content: ""; }

.zi-paste:before {
  content: ""; }

.zi-folder:before {
  content: ""; }

.zi-folder-open:before {
  content: ""; }

.zi-folder-plus:before {
  content: ""; }

.zi-folder-minus:before {
  content: ""; }

.zi-folder-download:before {
  content: ""; }

.zi-folder-upload:before {
  content: ""; }

.zi-tag:before {
  content: ""; }

.zi-tags:before {
  content: ""; }

.zi-barcode:before {
  content: ""; }

.zi-qrcode:before {
  content: ""; }

.zi-coin-dollar:before {
  content: ""; }

.zi-address-book:before {
  content: ""; }

.zi-location:before {
  content: ""; }

.zi-location-negative:before {
  content: ""; }

.zi-map-black:before {
  content: ""; }

.zi-map-white:before {
  content: ""; }

.zi-clock:before {
  content: ""; }

.zi-clock-black:before {
  content: ""; }

.zi-alarm:before {
  content: ""; }

.zi-printer:before {
  content: ""; }

.zi-keyboard:before {
  content: ""; }

.zi-display:before {
  content: ""; }

.zi-mobile:before {
  content: ""; }

.zi-undo:before {
  content: ""; }

.zi-redo:before {
  content: ""; }

.zi-bubble:before {
  content: ""; }

.zi-bubbles:before {
  content: ""; }

.zi-bubbles-back:before {
  content: ""; }

.zi-bubble-w:before {
  content: ""; }

.zi-bubbles-conversation:before {
  content: ""; }

.zi-bubbles-conversation-back:before {
  content: ""; }

.zi-user:before {
  content: ""; }

.zi-users:before {
  content: ""; }

.zi-user-plus:before {
  content: ""; }

.zi-user-minus:before {
  content: ""; }

.zi-user-check:before {
  content: ""; }

.zi-quotes-left:before {
  content: ""; }

.zi-quotes-right:before {
  content: ""; }

.zi-spinner-worm:before {
  content: ""; }

.zi-spinner-dots:before {
  content: ""; }

.zi-spinner-j:before {
  content: ""; }

.zi-search:before {
  content: ""; }

.zi-zoom-in:before {
  content: ""; }

.zi-zoom-out:before {
  content: ""; }

.zi-key:before {
  content: ""; }

.zi-lock:before {
  content: ""; }

.zi-unlocked:before {
  content: ""; }

.zi-bug:before {
  content: ""; }

.zi-pie-chart:before {
  content: ""; }

.zi-stats-dots:before {
  content: ""; }

.zi-stats-bars:before {
  content: ""; }

.zi-stats-bars-combined:before {
  content: ""; }

.zi-gift:before {
  content: ""; }

.zi-meter:before {
  content: ""; }

.zi-fire:before {
  content: ""; }

.zi-lab:before {
  content: ""; }

.zi-magnet:before {
  content: ""; }

.zi-trash:before {
  content: ""; }

.zi-bin:before {
  content: ""; }

.zi-airplane:before {
  content: ""; }

.zi-cloud:before {
  content: ""; }

.zi-cloud-download:before {
  content: ""; }

.zi-cloud-upload:before {
  content: ""; }

.zi-cloud-check:before {
  content: ""; }

.zi-flag:before {
  content: ""; }

.zi-eye:before {
  content: ""; }

.zi-eye-plus:before {
  content: ""; }

.zi-eye-minus:before {
  content: ""; }

.zi-eye-blocked:before {
  content: ""; }

.zi-star-empty:before {
  content: ""; }

.zi-star-half:before {
  content: ""; }

.zi-star-full:before {
  content: ""; }

.zi-heart:before {
  content: ""; }

.zi-plus:before {
  content: ""; }

.zi-minus:before {
  content: ""; }

.zi-cross:before {
  content: ""; }

.zi-checkmark-filled:before {
  content: ""; }

.zi-checkmark2:before {
  content: ""; }

.zi-enter:before {
  content: ""; }

.zi-play-circle:before {
  content: ""; }

.zi-pause-circle:before {
  content: ""; }

.zi-stop-circle:before {
  content: ""; }

.zi-previous-circle:before {
  content: ""; }

.zi-next-circle:before {
  content: ""; }

.zi-backward-circle:before {
  content: ""; }

.zi-forward-circle:before {
  content: ""; }

.zi-play3:before {
  content: ""; }

.zi-pause:before {
  content: ""; }

.zi-stop:before {
  content: ""; }

.zi-backward:before {
  content: ""; }

.zi-forward:before {
  content: ""; }

.zi-first:before {
  content: ""; }

.zi-last:before {
  content: ""; }

.zi-previous:before {
  content: ""; }

.zi-next:before {
  content: ""; }

.zi-eject:before {
  content: ""; }

.zi-volume-high:before {
  content: ""; }

.zi-volume-medium:before {
  content: ""; }

.zi-volume-low:before {
  content: ""; }

.zi-volume-mute:before {
  content: ""; }

.zi-mute:before {
  content: ""; }

.zi-volume-increase:before {
  content: ""; }

.zi-volume-decrease:before {
  content: ""; }

.zi-loop:before {
  content: ""; }

.zi-arrow-up-bold:before {
  content: ""; }

.zi-arrow-right-bold:before {
  content: ""; }

.zi-arrow-down-bold:before {
  content: ""; }

.zi-arrow-left-bold:before {
  content: ""; }

.zi-arrow-up:before {
  content: ""; }

.zi-arrow-right:before {
  content: ""; }

.zi-arrow-down:before {
  content: ""; }

.zi-arrow-left:before {
  content: ""; }

.zi-circle-up:before {
  content: ""; }

.zi-circle-right:before {
  content: ""; }

.zi-circle-down:before {
  content: ""; }

.zi-circle-left:before {
  content: ""; }

.zi-checkbox-checked:before {
  content: ""; }

.zi-checkbox-unchecked:before {
  content: ""; }

.zi-filter:before {
  content: ""; }

.zi-code:before {
  content: ""; }

.zi-terminal:before {
  content: ""; }

.zi-share-symbol:before {
  content: ""; }

.zi-amazon:before {
  content: ""; }

.zi-google-square:before {
  content: ""; }

.zi-google-plus:before {
  content: ""; }

.zi-google-plus-square:before {
  content: ""; }

.zi-google-plus-circle:before {
  content: ""; }

.zi-hangouts:before {
  content: ""; }

.zi-google-drive:before {
  content: ""; }

.zi-facebook:before {
  content: ""; }

.zi-facebook-square:before {
  content: ""; }

.zi-instagram:before {
  content: ""; }

.zi-whatsapp:before {
  content: ""; }

.zi-spotify:before {
  content: ""; }

.zi-telegram:before {
  content: ""; }

.zi-twitter:before {
  content: ""; }

.zi-youtube:before {
  content: ""; }

.zi-youtube-full:before {
  content: ""; }

.zi-twitch:before {
  content: ""; }

.zi-vimeo:before {
  content: ""; }

.zi-deviantart:before {
  content: ""; }

.zi-steam:before {
  content: ""; }

.zi-steam-square:before {
  content: ""; }

.zi-dropbox:before {
  content: ""; }

.zi-onedrive:before {
  content: ""; }

.zi-github:before {
  content: ""; }

.zi-basecamp:before {
  content: ""; }

.zi-trello:before {
  content: ""; }

.zi-blogger:before {
  content: ""; }

.zi-blogger-negative:before {
  content: ""; }

.zi-tumblr:before {
  content: ""; }

.zi-tumblr-square:before {
  content: ""; }

.zi-tux:before {
  content: ""; }

.zi-appleinc:before {
  content: ""; }

.zi-android:before {
  content: ""; }

.zi-windows:before {
  content: ""; }

.zi-skype:before {
  content: ""; }

.zi-linkedin:before {
  content: ""; }

.zi-pinterest:before {
  content: ""; }

.zi-paypal:before {
  content: ""; }

.zi-chrome:before {
  content: ""; }

.zi-firefox:before {
  content: ""; }

.zi-ie:before {
  content: ""; }

.zi-edge:before {
  content: ""; }

.zi-file-pdf:before {
  content: ""; }

.zi-file-word:before {
  content: ""; }

.zi-file-excel:before {
  content: ""; }

.zi-html-five:before {
  content: ""; }

.zi-html-five-negative:before {
  content: ""; }

.zi-git:before {
  content: ""; }

.zif-spin {
  display: block;
  width: 1em;
  height: 1em;
  -webkit-animation: zif-spin 1s infinite linear;
  animation: zif-spin 1s infinite linear; }

.zif-spin-reverse {
  display: block;
  width: 1em;
  height: 1em;
  -webkit-animation: zif-spin-reverse 1s infinite linear;
  animation: zif-spin-reverse 1s infinite linear reverse; }

@-webkit-keyframes zif-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes zif-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-webkit-keyframes zif-spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes zif-spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.zif-2x {
  font-size: 2em; }

.zif-3x {
  font-size: 3em; }

.zif-4x {
  font-size: 4em; }

/*# sourceMappingURL=styles.css.map */
